<div class="form-group">
  <label for="">Username</label>
  <input class="form-control" name="username" [(ngModel)]="username" type="text">
  <label for="">Password</label>
  <input class="form-control" name="password" [(ngModel)]="password" type="password">

</div>

<div class="form-group">
  <button class="btn btn-success" name="login" (click)="onLogin()">Login</button>
  <button class="btn btn-danger" name="cancel" (click)="onCancel()">cancel</button>

</div>